.saasaparilla
	%h1 
		= "Transactions for #{@subscription.email}"

	%table
		%tr
			%th Date
			%th Amount
			%th Success
			%th Action 
			%th Message
	
		= render :partial => "transaction", :collection => @transactions
	
	= will_paginate @transactions
	
