%h2 Your account was successfully billed

%p
   = "Your credit card has been charged $#{@amount} for your #{@account.subscription.plan.billing_period} subscription to the #{@account.subscription.plan.name} plan. Thank you."
   If you need any assistance, please contact the administrator.
