%h2 Thanks for signing up

%p
   = "Your subscription to the #{@account.subscription.plan.name} plan has be created. You will be billed automatically on a #{@account.subscription.plan.billing_period} basis."
   If you need any assistance, please contact the administrator.
